@{
    // Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Início";
}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.Mensagem
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post" action="/contato/recebercontato">
    <div class="form-group mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" value="@ViewBag.Contato.Nome" id="nome" placeholder="Digite seu nome">
        @Html.ValidationMessage("nome")
    </div>
    <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" value="@ViewBag.Contato.Email" id="email" placeholder="Digite seu email">
        @Html.ValidationMessage("email")
    </div>
    <div class="form-group mb-3">
        <label for="assunto" class="form-label">Assunto</label>
        <input type="text" name="assunto" class="form-control" value="@ViewBag.Contato.Assunto" id="assunto" placeholder="Digite o assunto">
        @Html.ValidationMessage("assunto")
    </div>
    <div class="form-group mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea type="text" name="mensagem" class="form-control" id="mensagem">@ViewBag.Contato.Mensagem</textarea>
        @Html.ValidationMessage("mensagem")
    </div>
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>